<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="bookinglist" *ngFor="let booking of bookings">
            <table>
                <tr>
                    <td>Flight Id      :</td>
                    <td>{{booking.flightId}}</td>
                </tr>
                <tr>
                    <td>Booking Status :</td>
                    <td>{{booking.status}}</td>
                </tr>
                <tr>
                    <td>Booking Id     :</td>
                    <td> {{booking.id}}</td>
                </tr>
                <tr>
                    <td>Booking Date   :</td>
                    <td> {{booking.bookingdatetime | date:'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <td>Time           :</td>
                    <td>{{booking.bookingdatetime | date:'HH:mm'}}</td>
                </tr>
            </table>
          <!-- <p>Flight Id      : {{booking.flightId}}</p>
          <p>Booking Status : {{booking.status}}</p>
          <p>Booking Id     : {{booking.id}}</p>
          <p>Booking Date   : {{booking.bookingdatetime | date:'yyyy-MM-dd'}}</p>
          <p>Time           : {{booking.bookingdatetime | date:'HH:mm'}}</p> -->
          <button mat-raised-button color="primary" (click)="getpassengers(booking.id)">
            See Passengers
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="passengerlist" *ngIf="passengers.length > 0">
            <h2>For Booking id {{bookingid}}</h2>
          <div class="passenger" *ngFor="let item of passengers">
            <a class="close-icon" style="float: right;">
              <mat-icon>close</mat-icon>
            </a>
            <div class="card-content">
              <h1>{{item.firstName}} {{item.lastName}}</h1>
              <p>{{item.phoneNumber}}</p>
              <p>{{item.gender}}</p>
              <p>{{item.age}}</p>
              <p class="email">{{item.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>