.bookings{
    display: flex;  
    flex-wrap: wrap;
}

.bookinglist{
    margin-top: 5%;
    padding: 4% 5%;
    background-color:rgba(47, 79, 79, 0.682);
    border-radius: 15px;
}

/* .passengerlist{
    background-color: darkslategray;
} */
.passenger{
    margin: 10px 0px;
    background-color:rgb(229, 228, 228);
    box-shadow: 0 0 5px rgb(171, 173, 173);
    border-radius: 15px;
    padding: 4% 2%;
}
