.flight-card {
  /* background-color: rgb(97, 97, 97, 0.4); */
  /* padding: 10px; */
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.flight-header {
  /* background-color: aqua; */
  /* display: flex; */
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline-flex;
  /* background-color: aliceblue; */
  padding: 10px;
  padding-left: 20px;
}
.flight-details {
  /* background-color: antiquewhite; */
  width: 85%;
}
.flight-name {
  /* background-color: yellowgreen; */
  /* color: white; */
  font-size: small;
  opacity: 0.8;
}
.airport-details {
  /* background-color: yellow; */
  font-size: large;
  font-style: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.price {
  /* background-color: blueviolet; */
  color: rgb(22, 200, 22);
  padding-top: 5px;
  font-size: x-large;
}
.flightseatscount {
  /* background-color: slategrey; */
  padding-top: 18px;
  float: right;
  width: 15%;
  text-align: center;
  /* font-size: large; */
  /* max-width: 5%; */
  /* float: right; */
  /* margin-left: 30%; */
}
.flight-schedule {
  /* background-color: violet; */
  background-color: rgb(65, 65, 65);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  display: flex;
  padding: 10px;
  padding-left: 20px;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  border-radius: 10px;
}
.scheduleitem {
  background-color: rgb(193, 192, 192, 0.6);
  padding: 4px;
  border-radius: 10px;
  width: 150px;
  color: white;
}
.schedulelabel {
  /* background-color: thistle; */
  padding-left: 5px;
}
.scheduledate {
  /* background-color: blue; */
  padding-left: 5px;
}
.scheduletime {
  /* background-color: springgreen; */
  padding-left: 5px;
}
.spacer {
  width: 75%;
  height: auto;
  /* background-color: azure; */
  text-align: center;
  padding-top: 18px;
}
.flighticon {
  /* background-color: tan; */
  /* margin-top: 20px; */
  transform: rotate(90deg);
  color: rgb(156, 154, 154);
}

/* //// seatscontainer/// */

.seatpickerwraper {
  /* background-color: #067f46; */
  margin-top: 20px;
  padding: 1vh 4vw;
  padding-left: 4vw;
  gap: 50px;
}

.seatscontainer {
  /* background-color: rgb(175, 175, 175); */
  box-shadow: 0 0 4px rgb(201, 200, 200);
  align-self: center;
  /* margin-top: 20px; */
  border-radius: 10px;
  width: 500px;
  max-height: 500px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  scroll-margin-left: 0;
  scrollbar-color: gray;
  margin-left: 10%;
}

.seatpickerdescriptionwraper {
  /* background-color: yellowgreen; */
  margin: 10% 0;
  padding: 1% 5%;
  box-shadow: 0 0 4px rgba(95, 95, 95, 0.402);
}

.instructions {
  background-color: white;
  position: relative;
  top: -30px;
  width: 150px;
  padding-left: 5px;
  padding-right: 3px;
}

.seatscontainer::-webkit-scrollbar {
  width: 7px;
  border: none;
}

/* Track */
.seatscontainer::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 15px;
}

/* Handle */
.seatscontainer::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(47, 111, 230), rgb(82, 208, 231));
  width: 5px;
  border-radius: 10px;
}
.seatscontainer::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(244, 42, 247), rgb(20, 116, 218));
  width: 5px;
  border-radius: 10px;
}

.seats {
  /* background-color: aqua; */
  background-color: rgb(230, 229, 229);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(226, 226, 226, 0.5);
  padding-top: 5px;
  padding-bottom: 10px;
  opacity: 1;
}

mat-grid-tile {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.checkbox {
  /* background-color: rgb(216, 216, 216); */
  width: 70px;
  padding-right: 2px;
  border-radius: 10px;
  transition: all ease-in-out 500ms;
  /* color: white; */
}

.checkbox:hover {
  background-color: rgb(6, 243, 255);
}

/* for example */
.checkboxhover {
  width: 70px;
  padding-right: 2px;
  border-radius: 10px;
  background-color: rgb(6, 243, 255);
}
/* ///// */

.checkboxlabel {
  /* color: white; */
  padding-right: 2px;
}

.selected-seats {
  display: flex;
  /* overflow: scroll; */
  flex-wrap: wrap;
  gap: 1vw;
  margin-top: 20px;
  min-height: 10vh;
  padding: 10px;
  margin-bottom: 5vh;
  /* border-style: solid; */
  /* border-color: rgb(102, 102, 102, 0.5); */
  box-shadow: 0 0 5px rgba(166, 166, 166, 0.7);
}
.selected-seats h2 {
  position: relative;
  top: -25px;
  /* flex: none; */
  background-color: rgb(255, 255, 255);
  padding-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 2px;
}

/* .seatsitemcontainer { */
/* background-color: rgb(204, 203, 203); */
/* } */

.seatname {
  text-align: center;
}

.seatitem {
  /* flex: 1 0 300px; */
  background-color: rgb(219, 219, 219);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0px 0px rgb(119, 119, 119, 0.3);
  transition: all 100ms linear;
}

.seatitem:hover {
  box-shadow: 0 5px 3px rgb(118, 118, 118, 0.4);
}

.seatbuttonitem {
  background: linear-gradient(
    90deg,
    rgba(11, 15, 85, 0.6) 30%,
    rgba(16, 221, 240, 0.4)
  );
}
.seatbuttonitem:hover {
  background: linear-gradient(
    90deg,
    rgb(107, 24, 152, 0.4) 60%,
    rgb(11, 15, 85, 0.6)
  );
  color: white;
}

/* Add this CSS class to style the occupied seats */
.occupied-seat {
  background-color: #067f46;
  cursor: not-allowed;
}

/* Add this CSS class to style the selected seats */
.mat-checkbox.mat-checkbox-checked:not(.mat-checkbox-disabled)
  .mat-checkbox-background {
  background-color: #043a72;
}

/* ///passenger/// */
.passengerform {
  /* background-color: yellowgreen; */
  border-radius: 10px;
}

.formtitle {
  background-color: skyblue;
  display: flex;
  gap: 5vw;
  padding: 10px;
  border-radius: 10px;
}

.passengerseat {
  /* background-color: whitesmoke; */
  width: 80%;
  /* text-align: center; */
  padding-left: 5px;
  padding-top: 5px;
}
.clossbutton {
  /* background-color: violet; */

  /* align-content: center; */
  max-width: 10%;
  align-items: center;
  /* float: right; */
}

.formcontainer {
  padding: 10px;
}

.names {
  /* background-color: turquoise; */
  display: flex;
  gap: 1vw;
  /* flex-wrap: wrap; */
}

.agegender {
  /* background-color: tomato; */
  /* padding-left: 18%; */
  display: flex;
  gap: 1vw;
  /* display: inline; */
}

.contactdetails {
  /* background-color: teal; */
  /* padding-left: 18%; */
  display: flex;
  gap: 1vw;
}
.passengersubmit {
  /* background-color: blue; */
  /* padding-left: 24%;
   */
  /* align-content: center; */
  width: 100%;
}

/* ////displayadded passengers///// */
.passengerlistContainer {
  border-style: groove;
  border-radius: 10px;
}

.passengerlist {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  /* background-color: aqua; */
  padding: 10px;
  /* padding-left: 10px; */
}

.passengercard {
  width: 260px;
  background-color: rgb(179, 177, 177, 0.4);
  border-radius: 10px;
  padding: 10px;
}

.closeicon {
  float: right;
  margin-left: 5px;
  color: black;
}

.payments {
  width: 100%;
}
.paymentbutton {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background: linear-gradient(90deg, rgba(11, 15, 85) 30%, rgba(16, 221, 240));
  transition: all 1000ms linear;
}
.paymentbutton:hover {
  background: linear-gradient(90deg, rgb(107, 24, 152) 60%, rgb(11, 15, 85));
}

@media only screen and (max-width: 995px) {
  .seatscontainer {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 770px) {
  .seatscontainer {
    margin-left: 4%;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 580px) {
  .seatscontainer {
    width: 380px;
    margin-left: 5px;
    overflow-x: scroll;
    padding: 2px;
  }
  .seats {
    padding: 0;
    margin: 0;
  }
}
