<div class="passenger-list" *ngIf="passengers.length > 0">
  <div class="passenger-card" *ngFor="let item of passengers">
    <a class="close-icon" (click)="OnRemovePassenger(item.id)">
      <mat-icon>close</mat-icon>
    </a>
    <div class="card-content">
      <h1>{{item.firstName}} {{item.lastName}}</h1>
      <p>{{item.phoneNumber}}</p>
      <p>{{item.gender}}</p>
      <p>{{item.age}}</p>
      <p class="email">{{item.email}}</p>
    </div>
  </div>
</div>

<div class="passenger-form">
  <mat-card>
    <div class="title">
      <h2>Passenger</h2>
      <a class="close-icon" (click)="OnCancelPassengerAdd()"><mat-icon>close</mat-icon></a>
    </div>
    <form class="example-form" [formGroup]="AddPassengerForm" (ngSubmit)="AddPassenger()">
      <div class="input-group">
        <mat-form-field class="input-field">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="input-group">
        <mat-form-field class="input-field">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Gender</mat-label>
          <input matInput type="text" formControlName="gender">
        </mat-form-field>
      </div>
      <div class="input-group">
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Phone number</mat-label>
          <input matInput type="tel" formControlName="phonenumber">
        </mat-form-field>
      </div>
      <div class="submit-container">
        <button mat-raised-button color="primary" class="passenger-submit">
          <mat-icon>person</mat-icon>
          <mat-hint>Add Passenger</mat-hint>
        </button>
      </div>
    </form>
  </mat-card>
  <!-- <a mat-raised-button (click)="seatselection()">select Seats</a> -->
</div>
<!-- <div *ngIf="seatselectionOption">
    <p>toogle works</p> -->
    <mat-grid-list [cols]="cols.length" style="padding-bottom: 0;" rowHeight="1:0.3">
      <div *ngFor="let row of rows">
        <div *ngFor="let col of cols; let i = index">
          <mat-grid-tile [class.space]="(i + 1) % 3 === 0">
            <mat-checkbox [id]="row+col">{{row}}{{col}}</mat-checkbox>
          </mat-grid-tile>
        </div>
      </div>
    </mat-grid-list>
    
<!-- </div> -->
