.flight-card {
  /* background-color: rgb(97, 97, 97, 0.4); */
  /* padding: 10px; */
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.flight-header {
  /* background-color: aqua; */
  /* display: flex; */
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: inline-flex;
  /* background-color: aliceblue; */
  padding: 10px;
  padding-left: 20px;
}
.flight-details {
  /* background-color: antiquewhite; */
  width: 85%;
}
.flight-name {
  /* background-color: yellowgreen; */
  /* color: white; */
  font-size: small;
  opacity: 0.8;
}
.airport-details {
  /* background-color: yellow; */
  font-size: large;
  font-style: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.price {
  /* background-color: blueviolet; */
  color: rgb(22, 200, 22);
  padding-top: 5px;
  font-size: x-large;
}
.flightseatscount {
  /* background-color: slategrey; */
  padding-top: 18px;
  float: right;
  width: 15%;
  text-align: center;
  /* font-size: large; */
  /* max-width: 5%; */
  /* float: right; */
  /* margin-left: 30%; */
}
.flight-schedule {
  /* background-color: violet; */
  background-color: rgb(65, 65, 65);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  display: flex;
  padding: 10px;
  padding-left: 20px;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  border-radius: 10px;
}
.scheduleitem {
  background-color: rgb(193, 192, 192, 0.6);
  padding: 4px;
  border-radius: 10px;
  width: 150px;
  color: white;
}
.schedulelabel {
  /* background-color: thistle; */
  padding-left: 5px;
}
.scheduledate {
  /* background-color: blue; */
  padding-left: 5px;
}
.scheduletime {
  /* background-color: springgreen; */
  padding-left: 5px;
}
.spacer {
  width: 75%;
  height: auto;
  /* background-color: azure; */
  text-align: center;
  padding-top: 18px;
}
.flighticon {
  /* background-color: tan; */
  /* margin-top: 20px; */
  transform: rotate(90deg);
  color: rgb(156, 154, 154);
}

/* //// seatscontainer/// */
.seatscontainer {
  /* background-color: rgb(175, 175, 175); */
  box-shadow: 0 0 4px rgb(185, 185, 185);
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.seats {
  /* background-color: aqua; */
  /* background-color: rgb(252, 252, 252); */
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(212, 211, 211, 0.5);
  padding-top: 5px;
  padding-bottom: 10px;
}

mat-grid-tile {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.checkbox {
  /* background-color: rgb(216, 216, 216); */
  padding-right: 2px;
  border-radius: 10px;
  transition: all ease-in-out 500ms;
  /* color: white; */
}
.checkbox:hover {
  background-color: rgb(255, 166, 0);
}
.checkboxlabel {
  /* color: white; */
  padding-right: 2px;
}

.selected-seats {
  display: flex;
  gap: 1vw;
  margin-top: 20px;
  min-height: 10vh;
  padding: 10px;
  /* border-style: solid; */
  /* border-color: rgb(102, 102, 102, 0.5); */
  box-shadow: 0 0 5px rgba(166, 166, 166, 0.7);
}
.selected-seats h2 {
  position: relative;
  top: -25px;
  background-color: white;
}

.seatitem {
  background-color: rgb(219, 219, 219);
  padding: 5px;
}
