<mat-card class="flight-card">
  <div class="flight-header">
    <div class="flight-details">
      <div class="flight-name">
        {{ selectedflight.flight_Name }} {{ selectedflight.flight_code }}
      </div>
      <div class="airport-details">
        {{ selectedflight.departureAirportName }} ({{
          selectedflight.departureAirportCode
        }}) - {{ selectedflight.arriavalAirportName }} ({{
          selectedflight.arraiavalAirportCode
        }})
      </div>
      <div class="price">{{ selectedflight.basePrice | currency : "₹" }}</div>
    </div>
    <div class="flightseatscount">
      Seats:{{ selectedflight.totalNoofseats }}
    </div>
  </div>
  <div class="flight-schedule">
    <div class="scheduleitem">
      <div class="schedulelabel">
        From: <strong>{{ selectedflight.departureCity }}</strong>
      </div>
      <div class="scheduledate">
        {{ selectedflight.departureDate | date : "yyyy-MM-dd" }}
      </div>
      <div class="scheduletime">
        {{ selectedflight.departureTime | date : "HH:mm" }}
      </div>
    </div>
    <div class="spacer">
      <mat-icon class="flighticon">flight </mat-icon>
    </div>
    <div class="scheduleitem">
      <div class="schedulelabel">
        To: <strong>{{ selectedflight.arrivalCity }}</strong>
      </div>
      <div class="scheduledate">
        {{ selectedflight.arrivalDate | date : "yyyy-MM-dd" }}
      </div>
      <div class="scheduletime">
        {{ selectedflight.arrivalTime | date : "HH:mm" }}
      </div>
    </div>
  </div>
</mat-card>

<div class="row">
  <div class="row seatpickerwraper">
    <div class="seatscontainer col-md-8">
      <mat-grid-list
        [cols]="cols.length"
        class="seats"
        style="padding-bottom: 0px"
        rowHeight="1:0.5"
      >
        <div *ngFor="let row of rows">
          <div *ngFor="let col of cols; let i = index">
            <mat-grid-tile>
              <div>
                <mat-checkbox
                  [id]="row + col"
                  [disabled]="isSeatDisabled(row + col)"
                  [checked]="isseatchecked(row + col)"
                  (change)="onSeatSelectionChange(row + col)"
                  class="checkbox"
                  color="assent"
                  [@enterAnimation]
                  [ngClass]="{ 'occupied-seat': checkseatsoccupied(row + col) }"
                >
                  <div class="checkboxlabel">{{ getSeatLabel(row + col) }}</div>
                </mat-checkbox>
              </div>
            </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    </div>
    <div class="col-md-4 seatpickerdescriptionwraper">
      <div class="instructions"><h2>Instructions :-</h2></div>
      <p>
        <mat-checkbox
          [disabled]="false"
          [checked]="true"
          class="checkbox"
          [@enterAnimation]
          [ngClass]="{ 'occupied-seat': false }"
        >
          <div class="checkboxlabel">Z4</div>
        </mat-checkbox>
        <span style="margin-left: 5px"> selected seat</span>
      </p>
      <p>
        <mat-checkbox
          [disabled]="true"
          class="checkbox"
          [@enterAnimation]
          [ngClass]="{ 'occupied-seat': false }"
        >
          <div class="checkboxlabel">Z4</div>
        </mat-checkbox>
        <span style="margin-left: 5px">disabled seat</span>
      </p>
      <p>
        <mat-checkbox
          [disabled]="true"
          [checked]="true"
          class="checkbox"
          [@enterAnimation]
          [ngClass]="{ 'occupied-seat': true }"
        >
          <div class="checkboxlabel">🧑‍💼</div>
        </mat-checkbox>
        <span style="margin-left: 5px"> seat occupied</span>
      </p>
      <p>
        <mat-checkbox
          [disabled]="true"
          [checked]="false"
          class="checkboxhover"
          [@enterAnimation]
          [ngClass]="{ 'occupied-seat': false }"
        >
          <div class="checkboxlabel">Z4</div>
        </mat-checkbox>
        <span style="margin-left: 5px"> On hover</span>
      </p>
    </div>
  </div>

  <!-- </div> -->
  <div class="row">
    <div class="selected-seats">
      <h2>Selected Seats</h2>
      <!-- <div class="seatsitemcontainer"> -->
      <div *ngFor="let seat of selectedSeats">
        <div class="seatitem">
          <div class="seatname">{{ seat }}</div>
          <div class="seatbutton">
            <button
              (click)="addPassengerOption(seat)"
              class="seatbuttonitem"
              mat-raised-button
            >
              Add Passenger
            </button>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="passengerform" *ngIf="passengerAddOption">
        <!-- <mat-card> -->
        <div class="formtitle">
          <div class="passengerseat">
            <h2>Passenger for seat: {{ currentseat }}</h2>
          </div>
          <!-- <h2>Passenger</h2> -->
          <div class="clossbutton">
            <mat-icon (click)="OnCancelPassengerAdd()">close</mat-icon>
          </div>
        </div>
        <form
          class="formcontainer"
          [formGroup]="AddPassengerForm"
          (ngSubmit)="AddPassenger()"
        >
          <div class="names">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName" />
            </mat-form-field>
          </div>
          <div class="agegender">
            <mat-form-field>
              <mat-label>Age</mat-label>
              <input matInput type="number" formControlName="age" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <input matInput type="text" formControlName="gender" />
            </mat-form-field>
          </div>
          <div class="contactdetails">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phone number</mat-label>
              <input matInput type="tel" formControlName="phonenumber" />
            </mat-form-field>
          </div>
          <div class="submitcontainer">
            <button mat-raised-button color="primary" class="passengersubmit">
              <mat-icon>person</mat-icon>
              <mat-hint>Add Passenger</mat-hint>
            </button>
          </div>
        </form>
        <!-- </mat-card> -->
      </div>
    </div>

    <div class="col-md-8 passengerlistContainer">
      <div class="passengerlist" *ngIf="passengers.length > 0">
        <div class="passengercard" *ngFor="let item of passengers">
          <a class="closeicon" (click)="OnRemovePassenger(item.id)">
            <mat-icon>close</mat-icon>
          </a>
          <!-- <div class="cardtitle">{{ item.allocatedSeat }}</div> -->
          <div class="cardcontent">
            <h2>Name: {{ item.firstName }} {{ item.lastName }}</h2>
            <p>Ph.No: {{ item.phoneNumber }}</p>
            <p>Gender: {{ item.gender }}</p>
            <p>Age: {{ item.age }}</p>
            <p class="email">Email: {{ item.email }}</p>
            <p>
              Seat :<strong>{{ item.allocatedSeat }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="payments" *ngIf="passengers.length > 0">
  <button mat-raised-button (click)="payments()" class="paymentbutton">
    Cost = {{ cost | currency : "₹" }}, Tap To Pay.
  </button>
</div>
