.flight-card {
    width: 70%;
    height: 10%;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 15%;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .flight-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 15px;
    padding: 16px;
    background-color: #dfdfdf;
  }
  
  .flight-details {
    font-weight: bold;
    color: #333;
  }
  
  .flight-name {
    font-size: 18px;
  }
  
  .airport-details {
    font-size: 14px;
    margin-top: 4px;
    color: #777;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .flight-schedule {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .schedule-item {
    text-align: center;
  }
  
  .schedule-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #333;
  }
  
  .schedule-date {
    font-size: 14px;
    color: #777;
  }
  
  .schedule-time {
    font-size: 16px;
    color: #333;
  }
  
  .select-flight-button {
    font-size: 14px;
    background-color: #ff5722;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
  }
  
