<div class="container">
<div class="flights" *ngFor="let item of flights">
    <mat-card class="flight-card">
      <div class="flight-header">
        <div class="flight-details">
          <div class="flight-name">{{ item.flight_Name }} {{ item.flight_code }}</div>
          <div class="airport-details">{{ item.departureAirportName }} ({{ item.departureAirportCode }}) - {{ item.arriavalAirportName }} ({{ item.arraiavalAirportCode }})</div>
          <div class="price">₹ {{ item.basePrice }}</div>
        </div>
      </div>
      <div class="flight-schedule">
        <div class="schedule-item">
          <div class="schedule-label">Departure</div>
          <div class="schedule-date">{{ item.departureDate | date: 'yyyy-MM-dd' }}</div>
          <div class="schedule-time">{{ item.departureTime | date: 'HH:mm' }}</div>
        </div>
        <div class="schedule-item">
          <div class="schedule-label">Arrival</div>
          <div class="schedule-date">{{ item.arrivalDate | date: 'yyyy-MM-dd' }}</div>
          <div class="schedule-time">{{ item.arrivalTime | date: 'HH:mm' }}</div>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button  (click)="onFlightSelected(item.id)" class="select-flight-button">Select Flight</button>
      </mat-card-actions>
    </mat-card>  
</div>
</div>
