<div class="footer">
    <footer>
        <div class="left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo repellendus libero id delectus reiciendis harum ad 
                soluta molestias hic distinctio! Minus 
                eligendi ab molestiae. Non id perferendis eum corrupti pariatur!</p>

        </div>
        <div class="center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo repellendus libero id delectus reiciendis harum ad 
                soluta molestias hic distinctio! Minus 
                eligendi ab molestiae. Non id perferendis eum corrupti pariatur!</p>
        </div>
        <div class="right">
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo repellendus libero id delectus reiciendis harum ad 
                soluta molestias hic distinctio! Minus 
                eligendi ab molestiae. Non id perferendis eum corrupti pariatur!</p> -->
                <div class="center1">
                    <ul>
                        <li><a  rel="noopener" routerLink="register"  title="Register">
                            Register
                          </a></li>
                        <li><a   rel="noopener" routerLink="login"  title="Login">Login
                        </a></li>
                        <li><a routerLink="booking">Booking</a></li>
                       
                    </ul>
                </div>
                <div class="center2">
                    <ul>
                        
                        <li><a routerLink="/home">Home</a></li>
                        <li><a>About</a></li>
                        <li><a >contact</a></li>
                      
                    </ul>
                </div>
                <div style="float: right;">
                    <button><mat-icon>email</mat-icon></button>
                    <button><mat-icon>facebook</mat-icon></button>
                    <button><mat-icon>reddit</mat-icon></button>
                    <button><mat-icon>place</mat-icon></button>
                    <button><mat-icon>share</mat-icon></button>
                    <button><mat-icon>event_note</mat-icon></button>
                </div>
        </div>
    <!-- <div class="bottom">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, deserunt!</p>
    </div> -->
    </footer>
</div>
