<div class="flightwrapper">

    <!-- // "flightId": 0,
    // "flight_Name": "string",
    // "flight_code": "string",
    // "departureAirportName": "string",
    // "departureAirportCode": "string",
    // "arriavalAirportName": "string",
    // "arraiavalAirportCode": "string",
    // "departureDate": "2023-05-25T14:43:17.503Z",
    // "arrivalDate": "2023-05-25T14:43:17.503Z",
    // "departureCity": "string",
    // "arrivalCity": "string",
    // "departureTime": "2023-05-25T14:43:17.503Z",
    // "arrivalTime": "2023-05-25T14:43:17.503Z",
    // "basePrice": 0,
    // "totalNoofseats": 0,
    // "isrunning": true -->

    <form class="flightsform" [formGroup]="AddFlightForm" (ngSubmit)="onFlightAdd()">
        <mat-form-field>
            <mat-label>Flight Name</mat-label>
            <input matInput text="text" class="flightname" formControlName="flight_Name" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Flight Code</mat-label>
            <input matInput text="text" class="flight_code" formControlName="flight_code" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departure Airport Name</mat-label>
            <input matInput text="text" class="departureAirportName" formControlName="departureAirportName" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departure Airport code</mat-label>
            <input matInput text="text" class="departureAirportCode" formControlName="departureAirportCode" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Arrival Airport Name</mat-label>
            <input matInput text="text" class="arriavalAirportName" formControlName="arriavalAirportName" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Arrival Airport Code</mat-label>
            <input matInput text="text" class="arraiavalAirportCode" formControlName="arraiavalAirportCode" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departure Date</mat-label>
            <input matInput text="date" class="departureDate" formControlName="departureDate" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Arrival Date</mat-label>
            <input matInput text="date" class="arrivalDate" formControlName="arrivalDate" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departure City</mat-label>
            <input matInput text="text" class="departureCity" formControlName="departureCity" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Arrival City</mat-label>
            <input matInput text="text" class="arrivalCity" formControlName="arrivalCity" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departure Time</mat-label>
            <input matInput type="datetime" class="departureTime" formControlName="departureTime" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Arrival Time</mat-label>
            <input matInput type="datetime" class="arrivalTime" formControlName="arrivalTime" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Base Price</mat-label>
            <input matInput type="number" class="basePrice" formControlName="basePrice" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>No Of Seats</mat-label>
            <input matInput type="number" class="totalNoofseats" formControlName="totalNoofseats" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Availble Currently</mat-label>
            <input matInput type="text" class="isrunning" formControlName="isrunning" >
        </mat-form-field>
        <div>
            <button mat-button type="submit">Add<mat-icon>add</mat-icon></button>
        </div>
    </form>
</div>