.bookingcontainer {
  width: 100%;
  display: inline-block;
  margin-top: 40px;
  border-top-right-radius: 15px;
  /* color: transparent; */
  border-top-left-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 2% 1%;
  border-right-style: groove;
  border-bottom-style: groove;
  border-left-style: groove;
  border-color: rgb(238, 238, 238, 0.7);
  font-family: "Helvetica Neue", sans-serif;
  transition: all ease-in-out 500ms;
}

.bookingcontainer:hover {
  margin-top: 0;
  background-color: rgba(12, 12, 12, 0.2);
  color: white;
  border-style: none;
  border-radius: 15px;
}

.bookingcontaineroutlet {
  background-color: rgb(249, 249, 249);
  width: 100%;
  /* padding-top: 20px; */
  border-radius: 15px;
  /* border-top-right-radius: 15px; */
  /* border-top-left-radius: 15px; */
  background-image: url("https://images.pexels.com/photos/2909083/pexels-photo-2909083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100%;
}

h2 {
  /* color: white; */
  padding-left: 30px;
  /* color: white; */
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.example-form {
  /* background-color: blue; */
  width: 96%;
}
.example-full-width {
  margin: 0px 2%;
}

/* .bookinginputs{
  width:100%;
  padding-top: 10px;
  display: inline-block;
  
  
}
.bookinginputs input{
  display:inline;
  padding:.25% .5%;
  height: 60px;
  border-style: none;
  border-style: solid;
}

.firstinput{
  width: 18%;
  display:inline;
  margin: 0%;
  /* height: 40px; */
