.passengerContainer {
  background: linear-gradient(
    0deg,
    transparent 20%,
    rgb(14, 221, 248, 0.2) 100%
  );
  padding: 10px;
  /* margin: 10px 10px; */
  border-radius: 10px;
  /* min-width: 400px; */
  height: 330px;
  overflow-y: scroll;
}
/* passengercontainer scrollbar  */
.passengerContainer::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: transparent;
}

.passengerContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    transparent,
    rgb(45, 33, 176) 15%,
    rgb(24, 251, 255) 90%,
    transparent 100%
  );
}

.container {
  /* background-color: tomato; */
  padding: 0;
}

.card-container .card-title {
  font-size: 24px;
  font-weight: 550;
  color: #333;
}

.passenger-card {
  display: flex;
  align-items: center;
  /* background-color: rgba(233, 255, 253, 0.4); */
  border-radius: 10px;
  border-bottom-right-radius: 2px;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0px 4px 5px rgba(171, 171, 171, 0.5);
  overflow: scroll;
}

.passenger-details {
  flex: 1;
  width: 90%;
  /* overflow-x: hidden; */
}

.passenger-name {
  font-size: 16px;
  font-weight: 500;
  color: #030303;
  /* margin: 0 0; */
}

.passenger-info {
  font-size: 14px;
  /* color: #a19f9f; */
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.passenger-info li {
  margin-right: 15px;
}

.info-label {
  font-weight: lighter;
}

.info-value {
  margin-left: 5px;
}

/* //for cost// */
.cost {
  /* display: flex; */
  align-items: center;
  /* background-color: #921245c3; */
  /* background-color: rgb(161, 237, 237, 0.25); */
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  /* border-style: solid; */
  /* box-shadow: 0px 4px 5px rgba(153, 152, 152, 0.5); */
}

.invoice {
  align-items: center;
  /* background-color: #bde7fac3; */
  background: linear-gradient(180deg, transparent 20%, rgb(14, 221, 248, 0.2));
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  /* border-style: solid */
  /* box-shadow: 0px 4px 5px rgba(146, 146, 146, 0.5); */
}
.payment {
  /* background-color: aquamarine; */
  /* background-color: rgb(161, 237, 237, 0.25); */
  padding-top: 20px;
  min-height: 600px;
  border-radius: 15px;
  margin-left: 10px;
  /* border-style: solid; */

  background: linear-gradient(0deg, transparent 20%, rgb(14, 221, 248, 0.2));
  /* overflow: hidden; */
  /* box-shadow: 0px 4px 5px rgb(161, 160, 160, 0.45); */
}

.cardpayment {
  margin-top: 10px;
  /* width: max-content; */
  margin-left: 10%;
}

.card-details {
  height: 360px;
}

.upipayment {
  height: 360px;
}

.cardnumber {
  width: 10px;
}

.input {
  width: 90%;
}

.mattabcontainer {
  background-color: #fbfafa;
  border-radius: 10px;
  height: 100%;
  /* padding: 5px; */
}

.total-amount {
  text-align: center;
}
.paymentsubmitbutton {
  width: 90%;
  background: linear-gradient(
    90deg,
    rgba(21, 21, 97, 0.6) 40%,
    rgb(14, 221, 248, 0.6)
  );
}

.paymentsubmitbutton:hover {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(121, 49, 134, 0.6) 60%,
    rgb(48, 6, 173, 0.6)
  );
}
.amountinfo {
  margin-bottom: 1px;
  padding-bottom: 1px;
}
.taxdesc {
  margin-top: 1px;
  padding-top: 1px;
  font-weight: 250;
  font-size: 12px;
}

/* ///scroolbar/// */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    transparent,
    rgb(45, 33, 176) 10%,
    rgb(24, 251, 255) 90%,
    transparent 100%
  );
}

@media only screen and (max-width: 860px) {
  .passenger-card {
    display: flex;
    align-items: center;
    background-color: #bde7fac3;
    border-radius: 5px;
    /* padding: 10px; */
    margin-bottom: 10px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
  }

  .passenger-info {
    font-size: 14px;
    /* color: #a19f9f; */
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
  }

  .passenger-details {
    flex: 1;
    width: 90%;
    overflow-x: scroll;
  }

  .passenger-info li {
    margin-right: 5px;
  }

  .info-label {
    font-weight: bold;
  }

  .info-value {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 490px) {
  .passenger-details {
    flex: 1;
    width: 90%;
    overflow-x: scroll;
  }
  .payment {
    /* background-color: aquamarine; */
    padding-top: 20px;
    min-height: 600px;
    margin-left: 10px;
    overflow-x: scroll;
  }
}
