<div class="container">
  <div class="close" mat-dialog-close style="float: right;color: rgb(196, 4, 4);"><mat-icon>close</mat-icon></div>
    <form class="flightsform" [formGroup]="updateflightForm" (ngSubmit)="onFlightupdate()">

        <!-- <div class="mb-3">
            <label for="flightId" class="form-label">Flight Id</label>
            <input type="number" class="form-control" id="flightId" formControlName="Id">
          </div> -->
      <div class="mb-3">
        <label for="flightName" class="form-label">Flight Name</label>
        <input type="text" class="form-control" id="flightName" formControlName="Flight_Name" required>
      </div>
      <div class="mb-3">
        <label for="flightCode" class="form-label">Flight Code</label>
        <input type="text" class="form-control" id="flightCode" formControlName="Flight_code" required>
      </div>
      <div class="mb-3">
        <label for="departureAirportName" class="form-label">Departure Airport Name</label>
        <input type="text" class="form-control" id="departureAirportName" formControlName="DepartureAirportName" required>
      </div>
      <div class="mb-3">
        <label for="departureAirportCode" class="form-label">Departure Airport Code</label>
        <input type="text" class="form-control" id="departureAirportCode" formControlName="DepartureAirportCode" required>
      </div>
      <div class="mb-3">
        <label for="arrivalAirportName" class="form-label">Arrival Airport Name</label>
        <input type="text" class="form-control" id="arrivalAirportName" formControlName="ArriavalAirportName" required>
      </div>
      <div class="mb-3">
        <label for="arrivalAirportCode" class="form-label">Arrival Airport Code</label>
        <input type="text" class="form-control" id="arrivalAirportCode" formControlName="ArraiavalAirportCode" required>
      </div>
      <div class="mb-3">
        <label for="departureDate" class="form-label">Departure Date</label>
        <input type="date" class="form-control" id="departureDate" formControlName="DepartureDate" required>
      </div>
      <div class="mb-3">
        <label for="arrivalDate" class="form-label">Arrival Date</label>
        <input type="date" class="form-control" id="arrivalDate"  formControlName="ArrivalDate" required>
      </div>
      <div class="mb-3">
        <label for="departureCity" class="form-label">Departure City</label>
        <input type="text" class="form-control" id="departureCity" formControlName="DepartureCity" required>
      </div>
      <div class="mb-3">
        <label for="arrivalCity" class="form-label">Arrival City</label>
        <input type="text" class="form-control" id="arrivalCity" formControlName="ArrivalCity" required>
      </div>
      <div class="mb-3">
        <label for="departureTime" class="form-label">Departure Time</label>
        <input type="time" class="form-control" id="departureTime" formControlName="DepartureTime" required>
      </div>
      <div class="mb-3">
        <label for="arrivalTime" class="form-label">Arrival Time</label>
        <input type="time" class="form-control" id="arrivalTime" formControlName="ArrivalTime" required>
      </div>
      <div class="mb-3">
        <label for="basePrice" class="form-label">Base Price</label>
        <input type="number" class="form-control" id="basePrice" formControlName="BasePrice" required>
      </div>
      <div class="mb-3">
        <label for="totalNoOfSeats" class="form-label">Total Number of Seats</label>
        <input type="number" class="form-control" id="totalNoOfSeats" formControlName="TotalNoofseats" required>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="isRunning" formControlName="Isrunning">
        <label class="form-check-label" for="isRunning">Is Running</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>