.registercontainer{
    width: 50%;
    margin-left: 25%;
    background-color: transparent;
}

.example-form{
    background-color: transparent;
}

.example-full-width{
    width: 90%;
    margin-left: 5%;
}