
<mat-grid-list cols="3" style="padding-bottom: 0 ;" rowHeight="1:1">
    <mat-grid-tile class="users">
        <a mat-button routerLink="../users" > Users<mat-icon>person</mat-icon> </a>
        </mat-grid-tile>
    <mat-grid-tile colspan="2" class="users"> <a mat-button routerLink = "../flights"> Flights <mat-icon>flight</mat-icon></a></mat-grid-tile>
    <mat-grid-tile class="users">Payments</mat-grid-tile>
    <mat-grid-tile class="users" ><a mat-button routerLink="../bookings" > Bookings<mat-icon>book</mat-icon> </a></mat-grid-tile>
    <mat-grid-tile class="users">FeedBacks</mat-grid-tile>
    <!-- <mat-grid-tile>Profile</mat-grid-tile> -->
  </mat-grid-list>
  
