<!-- <app-booking></app-booking> -->
<div class="booking-container">
  <div class="booking-card" *ngFor="let booking of bookings">
    <button
      class="close-button"
      mat-icon-button
      (click)="removebooking(booking.id)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="booking-details">
      <p class="booking-id">Booking Id:{{ booking.id }}</p>
      <p class="booking-status">Status: {{ booking.status }}</p>
      <p class="booking-date">
        Date :{{ booking.bookingdatetime | date : "dd-MM-yyyy" }}
      </p>
      <p class="booking-time">
        Time: {{ booking.bookingdatetime | date : "HH:mm" }}
      </p>
    </div>
    <div class="booking-actions">
      <button
        class="action-button"
        (click)="flightandpassengerinfo(booking.id)"
      >
        See flight and Passengers info
      </button>
      <button class="action-button" (click)="paymentinfo(booking.id)">
        See Payment Info
      </button>
    </div>
  </div>
</div>

<!-- id!:number ;
status:boolean = true;
bookingdatetime!:Date;
flightId:string = ""; -->

<div *ngIf="displaypayment">
  <div class="paymentinfo">
    <h4>payment info for booking id: {{ payment.bookingid }}</h4>
    <p>
      Mode of Payment: <strong> {{ payment.payment_Mode }}</strong>
    </p>
    <p>Status:{{ payment.paymentStatus }}</p>
    <p>Paid Amount: {{ payment.total_Price | currency : "₹" }}</p>
    <p>
      Paid Date: {{ payment.payment_DateTime | date : "dd-MM-yyyy" }} Time:{{
        payment.payment_DateTime | date : "HH-mm"
      }}
    </p>
  </div>
</div>

<!-- booking
: 
null
bookingid
: 
152
id
: 
11
paymentStatus
: 
true
payment_DateTime
: 
"2023-06-12T09:47:10.8557244"
payment_Mode
: 
"Card"
total_Price
: 
8668 -->
