<!-- <app-booking></app-booking> -->
<div class="booking-container" [@fadeanimation]>
  <div class="booking-card" *ngFor="let booking of bookings" [@fadeanimation]>
    <button
      class="close-button"
      mat-icon-button
      (click)="removebooking(booking.id)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="booking-details">
      <p class="booking-id">Booking Id:{{ booking.id }}</p>
      <p class="booking-status">Status: {{ booking.status }}</p>
      <p class="booking-date">
        Date :{{ booking.bookingdatetime | date : "dd-MM-yyyy" }}
      </p>
      <p class="booking-time">
        Time: {{ booking.bookingdatetime | date : "HH:mm" }}
      </p>
    </div>
    <div class="booking-actions">
      <button
        class="action-button"
        (click)="flightandpassengerinfo(booking.id)"
      >
        See flight,Passengers and Paymnet info
      </button>
      <!-- <button class="action-button" (click)="paymentinfo(booking.id)">
        See Payment Info
      </button> -->
    </div>
  </div>
</div>

<!-- id!:number ;
status:boolean = true;
bookingdatetime!:Date;
flightId:string = ""; -->
<div class="row detailscontainer">
  <div *ngIf="displaypayment" class="col-md-3">
    <div class="paymentinfo" [@fadeanimation]>
      <h4>payment info for booking id: {{ payment.bookingid }}</h4>
      <p>
        Mode of Payment: <strong> {{ payment.payment_Mode }}</strong>
      </p>
      <p>Status:{{ payment.paymentStatus }}</p>
      <p>Paid Amount: {{ payment.total_Price | currency : "₹" }}</p>
      <p>
        Paid Date: {{ payment.payment_DateTime | date : "dd-MM-yyyy" }} Time:{{
          payment.payment_DateTime | date : "HH-mm"
        }}
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="passengerlistContainer" *ngIf="displaypassengerdetail">
      <div class="passengerlist">
        <div class="passengercard" *ngFor="let item of passengers">
          <!-- <div class="cardtitle">{{ item.allocatedSeat }}</div> -->
          <div class="cardcontent">
            <h2>Name: {{ item.firstName }} {{ item.lastName }}</h2>
            <p>
              Ph.No: {{ item.phoneNumber }}
              <span>Gender: {{ item.gender }}</span>
              <span>Age: {{ item.age }}</span>
              <span class="email">Email: {{ item.email }}</span>
              <span>
                Seat :<strong>{{ item.allocatedSeat }}</strong>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <mat-card class="flight-card" *ngIf="displayflightdetail">
      <div class="flight-header">
        <div class="flight-details">
          <div class="flight-name">
            {{ flight.flight_Name }} {{ flight.flight_code }}
          </div>
          <div class="airport-details">
            {{ flight.departureAirportName }} ({{
              flight.departureAirportCode
            }}) - {{ flight.arriavalAirportName }} ({{
              flight.arraiavalAirportCode
            }})
          </div>
        </div>
        <p>
          <span class="price">{{ flight.basePrice | currency : "₹" }} </span>
          <span class="spacer">---||---</span>
          <span class="flightseatscount">
            Seats:{{ flight.totalNoofseats }}</span
          >
        </p>
      </div>
      <div class="flight-schedule">
        <p>
          <span class="scheduleitem">
            <span class="schedulelabel">
              From: <strong>{{ flight.departureCity }}</strong>
            </span>
            <span class="scheduledate">
              {{ flight.departureDate | date : "yyyy-MM-dd" }}
            </span>
            <span class="scheduletime">
              {{ flight.departureTime | date : "HH:mm" }}
            </span>
          </span>
        </p>
        <p>
          <span class="scheduleitem">
            <span class="schedulelabel">
              To: <strong>{{ flight.arrivalCity }}</strong>
            </span>
            <span class="scheduledate">
              {{ flight.arrivalDate | date : "yyyy-MM-dd" }}
            </span>
            <span class="scheduletime">
              {{ flight.arrivalTime | date : "HH:mm" }}
            </span>
          </span>
        </p>
      </div>
    </mat-card>
  </div>
</div>
<!-- booking
: 
null
bookingid
: 
152
id
: 
11
paymentStatus
: 
true
payment_DateTime
: 
"2023-06-12T09:47:10.8557244"
payment_Mode
: 
"Card"
total_Price
: 
8668 -->
