<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >menu</mat-icon>
      </button>
      <h1 style="padding-top: 1%;">DashBoard</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button > Bookings<mat-icon>book</mat-icon> </a>
        <a mat-button [routerLink]> Payments <mat-icon>payment</mat-icon></a>
        <a mat-button [routerLink]> FeedBack <mat-icon>star</mat-icon> </a>
        <!-- <a mat-button [routerLink]>  </a> -->
        <!-- <a mat-button [routerLink]> Create Activity </a> -->
        <a mat-button > Profile<mat-icon>person</mat-icon> </a>
        <a mat-button class="logbutton" (click)="logout()"> Logout<mat-icon>logout</mat-icon></a>
      </div>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
  </mat-toolbar>
  
