.flightslist{
  margin-top: 3%;
}




.flight-card {
    width: 70%;
    height: 10%;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: darkslategrey;
    box-shadow: 0px 0px 10px rgba(8, 8, 8, 0.1);
  }
  
  .flight-header {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  
  .flight-details {
    font-weight: bold;
    color: #fff;
  }
  
  .flight-name {
    font-size: 18px;
  }
  
  .airport-details {
    font-size: 14px;
    margin-top: 4px;
    color: #ccc;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  
  .flight-actions {
    display: flex;
    align-items: center;
  }
  
  .edit-flight-button,
  .delete-flight-button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    color: #fff;
  }

  .delete-flight-button:hover{
    color: red;
  }
  
  .flight-schedule {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .schedule-item {
    text-align: center;
  }
  
  .schedule-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    color: darkslategrey;
  }
  
  .schedule-date {
    font-size: 14px;
    color: #777;
  }
  
  .schedule-time {
    font-size: 16px;
    color: darkslategrey;
  }
  
  .select-flight-button {
    font-size: 14px;
    background-color: darkslategrey;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
  }
  