
  <!-- Toolbar -->
  <div class="homecontainer">
  <div class="toolbar" role="banner">
    
    <span><a mat-button routerLink="/home"><h2 style="font-style: italic;">BestWays</h2><mat-icon>flight</mat-icon></a></span>
      <div class="spacer"></div>
      <a  mat-button routerLink="/home">Home <mat-icon>home</mat-icon></a>
      <a mat-button routerLink="booking">Booking <mat-icon>booking</mat-icon></a>
      <a   mat-button routerLink="login"  title="Login">Login<mat-icon>login</mat-icon>
      </a>
      <a  mat-button routerLink="register"  title="Register">
        Register<mat-icon>app_registration</mat-icon>
      </a>
  </div>
  
<div class="title">
    <h1>BestWays</h1>
<!-- <h2>Lets have a great Time</h2> -->
<!-- <h3>You r secured with us</h3> -->
</div>
<!-- <app-booking></app-booking> -->
<div class="container" role="main">
  <router-outlet>
    <h1 style="text-align: center; margin-top: 5%;">Welcome to the future of travel</h1>
    
  </router-outlet>
  <!-- <app-destinations></app-destinations> -->
</div>

</div>
<app-footer></app-footer>