
  <!-- Toolbar -->
  <div class="homecontainer">
  <div class="toolbar" role="banner">
    
    <span><a routerLink="/home">BestWays</a></span>
      <div class="spacer"></div>
      <a routerLink="/home">Home</a>
      <a routerLink="booking">Booking</a>
      <a   rel="noopener" routerLink="login"  title="Login">Login
      </a>
      <a  rel="noopener" routerLink="register"  title="Register">
        Register
      </a>
  </div>
  
<div class="title">
    <h1>BestWays</h1>
<!-- <h2>Lets have a great Time</h2> -->
<!-- <h3>You r secured with us</h3> -->
</div>
<!-- <app-booking></app-booking> -->
<div class="container" role="main">
  <router-outlet>
    <h1 style="text-align: center; margin-top: 5%;">Welcome to the future of travel</h1>
    
  </router-outlet>
  <!-- <app-destinations></app-destinations> -->
</div>

</div>
<app-footer></app-footer>