p {
  margin: 0;
}
.background {
  /* z-index: -2; */
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* background-image: url("https://c.pxhere.com/photos/a3/d3/aeroplane_aircraft_airplane_aviation_clouds_daylight_flight_flying-1551067.jpg!d"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* z-index: -2; */
}

.homecontainer {
  height: 100%;
  width: 100%;
  /* z-index: 1; */
}
.title {
  text-align: center;
}
.title h1 {
  /* margin-top: 4%; */
  padding-top: 4%;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: xx-large;
  /* text-align: center; */
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.content {
  display: flex;
  margin: auto 32px;
  padding-top: 90px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.containerroute {
  margin: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  /* margin-top: 20px; */
  background: linear-gradient(
    150deg,
    rgb(35, 35, 122, 0.7) 30%,
    rgba(18, 193, 187)
  );
  min-height: 550px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.containerroute h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: xx-large;
}

.destinations {
}

a,
a:visited,
a:hover {
  color: #020202;
  text-decoration: none;
  margin-left: 3px;
}

a:hover {
  color: #f39a0b;
}

footer {
  margin-top: 30px;
}

@media only screen and (max-width: 680px) {
  .containerroute {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 20px; */
    background: linear-gradient(
      90deg,
      rgb(35, 35, 122, 0.5) 80%,
      rgba(18, 117, 193, 0.5)
    );
    min-height: 550px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
